* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
header{
  height: 100vh;
  background: linear-gradient(#00000025, #000000ce), url(../img/close-up-opened-books.jpg) center no-repeat;
  background-size: cover;
}